.InputGroup {
    width: 80%;
    margin: 5vh auto;
    display: flex;
    justify-content: center;
    align-items: center;
    &__input {
        width: 70%;
    }

    &__btn {
        margin-left: 5px;
        width: 10%;
    }
}