.Modal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &__btns {
        width: 100%;
        display: flex;
        justify-content: space-between;
        &__btn {
            width: 48%;
            height: 25px;
        }
    }

    .w-100 {
        width: 100% !important;
    }
}