.EditMessage {
    &__btns {
        width: 45%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: end;
        

    }
    &__btn {
        width: 45%;
    }
}