.brand-logo.logo {
    color: rgba(238, 110, 115, 0.7);
}

.Link__wrapper {
    &:hover {
        background-color: rgba(238, 110, 115, 0.2);
    }
}

.Link__element {
    color: rgba(238, 110, 115, 0.7);
}

.Link__element.active {
    border-bottom: 2px solid white;
}
