.Users {
    &__list {
        margin-top: 10vh;
        height: 60vh;
        padding: 10px 0;
        overflow: auto;
        &-item {
            width: 100%;
            margin-bottom: 30px;
            padding-bottom: 5px;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid black;
        }
    }
}

.list-item__info {
    display: flex;
    flex-direction: column;
}

.list-item__btn {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-self: start;
}
